
body{
    background-color:lightgray;
    
}

.cont2{
    background-color:white;
}

#box10{
    
    background-color: red;;
}





input{
    width:50%;
    background-color: lightgray;
    text-align:center;
    margin-right: 100px;
    position:relative;
}
#box1{
    
    height:50px;
    background-color:black;
    color:white;
    width:100%;
}



input.valid{
    border-color: green;
}

input.invalid{
    border-color:red;
}    

input + p{
    font-family : arial;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    margin-right: 20px;
    color: red;
    opacity:0;
    height:0;
    position:absolute;
    
}

input.invalid + p{
    opacity: 1;
    height: auto;
    margin-bottom: 20px; 
}








